<!-- Whoever takes this can change it to make it look prettier -->
<style>
    #main-content {
        max-width: 730px;
    }
    #main-content div {
        width: 100%;
    }
    #title h1{
        font-size: 34pt;
    }
    .logo-title-md {
        text-align: center;
    }
</style>
<div class="logo-title-md container">
    <h1><span><img src="/img/logo-white.png" alt="QueueUp logo.">ueueUp</span></h1>
    <h4>Your streaming media dashboard.</h4>
</div>
<hr>
<div id="what" class="container">
    <h2>What is QueueUp?</h2>
    <!-- Description here -->
    <!-- TODO: Nate's got this one -->
    <p>A problem that we, the members of Team Pelican, constantly face is that of not being
    able to decide what to watch online. With so many video streaming services at our disposal,
    it is easy to forget that one service might offer something much more appealing to you given
    your current mood. QueueUp aims to grab all of your streaming video content and assemble
    it into an easy to use streaming media dashboard.</p>
    <h3>What the heck is a "streaming media dashboard"?</h3>
    <p>Think of it as a big space for you to see all of your favorite content laid out in front
    of you for you to explore at your own pace.</p>
</div>
<hr>
<div id="why" class="container">
    <h2>Why QueueUp?</h2>
    <p>QueueUp's purpose is to make accessing your many
        forms of video content as easy as possible, whether you want to explore your favorite
        subscribers' content on YouTube, or see which of your favorite Twitch streamers are
        currently online.</p>
    <!-- TODO: Zhi's got this one -->
    <!-- A description of the problems your application solves.
    That is, what problems does it solve for the user? -->
    <h3>Have you ever wondered what to watch?</h3>
    <p>
        We have that problem too! When there are so many video services around, sometimes
        it's hard to choose. QueueUp has got you covered! By using QueueUp, you can see
        all your favorite videos in the same place.
    </p>

    <h3>Do you forget the name of that awesome show you recently watched?</h3>
    <p>
        It's alright, we do that too. Sometimes we just want to rewatch something, but don't
        even know how to search for it because we've forgotten the name! QueueUp has a
        complete list of videos you watched, nicely sorted by date, so you can get back to
        it later!
    </p>

    <h3>Have you ever saved a video for later, but forgot about it?</h3>
    <p>
        With QueueUp, you can add a video to watchlist, so you won't forget about it!
        QueueUp can also tell you when your favorite streamer is live, so you won't
        miss their moments!
    </p>
</div>
<hr>
<div id="use-cases" class="container">
    <h2>Use Cases</h2>
    <ul>
        <li>Quickly put an end to those awkward "what should we watch?" moments.</li>
        <li>Associate multiple streaming media services with your QueueUp account.</li>
        <li>Create custom filtering routines to fine tune which content is displayed on your dashboard.</li>
        <li></li>
    </ul>
</div>
<!-- TODO: Nate's got this one -->
<!-- A list of use cases that motivate why someone would want to use your application. -->
