<!-- Whoever takes this can change it to make it look prettier -->
<style>
    #main-content {
        max-width: 730px;
    }
    #main-content div {
        width: 100%;
    }
    #title h1{
        font-size: 34pt;
    }
</style>
<div id="title" class="container">
    <h1>QueueUp</h1>
    <h4>Your streaming media dashboard.</h4>
</div>
<hr>
<div id="what" class="container">
    <h2>What is QueueUp?</h2>
    <!-- Description here -->
    <!-- TODO: Nate's got this one -->
    <!-- This should be from the perspective of selling you application to potential users.
    You should answer the question, why would someone want to user your application? -->
</div>
<hr>
<div id="why" class="container">
    <h2>Why QueueUp?</h2>
    <!-- TODO: Zhi's got this one -->
    <!-- A description of the problems your application solves.
    That is, what problems does it solve for the user? -->
    <h3>Have you ever wondered what to watch?</h3>
    <p>
        We have that problem too! When there are so many video services around, sometimes
        it's hard to choose. QueueUp has got you covered! By using QueueUp, you can see
        all your favorite videos in the same place.
    </p>

    <h3>Do you forget the name of that awesome show you recently watched?</h3>
    <p>
        It's alright, we do that too. Sometimes we just want to rewatch something, but don't
        even know how to search for it because we've forgotten the name! QueueUp has a
        complete list of videos you watched, nicely sorted by date, so you can get back to
        it later!
    </p>

    <h3>Have you ever saved a video for later, but forgot about it?</h3>
    <p>
        With QueueUp, you can add a video to watchlist, so you won't forget about it!
        QueueUp can also tell you when your favorite streamer is live, so you won't
        miss their moments!
    </p>
</div>
<hr>
<div id="use-cases" class="container">
    <h2>Use Cases</h2>
</div>
<!-- TODO: Nate's got this one -->
<!-- A list of use cases that motivate why someone would want to use your application. -->
