<!-- Whoever takes this can change it to make it look prettier -->
<h1>QueueUp</h1>
<h3>Your streaming media dashboard.</h3>
<h2>What is QueueUp?</h2>
<!-- Description here -->
<!-- TODO: Nate's got this one -->
<!-- This should be from the perspective of selling you application to potential users.
You should answer the question, why would someone want to user your application? -->
<h2>Why QueueUp?</h2>
<!-- TODO: Zhi's got this one -->
<!-- A description of the problems your application solves.
That is, what problems does it solve for the user? -->
<h2>Use Cases</h2>
<!-- TODO: Nate's got this one -->
<!-- A list of use cases that motivate why someone would want to use your application. -->
