<ul id="users" class="list-group">
  <h2>Users</h2>
  {{#each users}}
  <li class="list-group-item">
    <form method="post" action="/admin/changeAdmin">
      <span class="username">{{this.username}}</span>
      <span class="adminStatus">Administrator Privileges: <input class="checkbox" type="checkbox" name={{this.username}} {{#if this.admin}}checked{{/if}}></span>
    </form>
  </li>

  {{/each}}
</ul>
