<h2>Your Queue:</h2>
<div id="carousel" class="content">
{{#each content}}
<div>
	<a href="https://www.youtube.com/watch?v={{videoId}}" target="_blank"><img src={{thumbnails}}></img></a>
	<h5>{{title}}</h5>
</div>
{{/each}}
</div>
{{#if message}}
  <script>
    showDialog("{{message}}"); // /javascripts/common.js
  </script>
{{/if}}
