<style>

    #main-content div {
        width: 100%;
    }
    #title h1{
        font-size: 34pt;
    }
    img {
    	max-width: 1280px;
    	height: auto;
    }
    a {
    	padding: 20px;
    }
</style>

<h1>Mockups</h1>

<h3>{{title}}</h3>

<a href={{image}}><img src="{{image}}"></a>
<div class="container">
	<a href="/mockups/splash">Splash</a>
	<a href="/mockups/login">Login</a>
	<a href="/mockups/main">Main</a>
	<a href="/mockups/queue">Queue</a>
	<a href="/mockups/userprofile">User Profile</a>
	<a href="/mockups/admin">Admin Console</a>
</div>
