<div id="info">
    Username: {{username}}<br>
    <br>
    <a class="btn btn-primary" href="#" role="button">Change Password</a>
</div>
<div id="services" class="list-group">
    <a href="#" class="list-group-item">BEEP</a>
    <a href="#" class="list-group-item">BOOP</a>
    <a href="#" class="list-group-item">BOP</a>
</div>
