<style>
#main-content {
   left: 0;
   line-height: 200px;
   margin: auto;
   margin-top: -100px;
   position: absolute;
   text-align: center;
   top: 50%;
   width: 100%;
}
h4 {
    padding-top: 20px;
}
.logo-title-lg h1 span { /* for attempting to center specifically in this page */
    padding-right: 14px;
}
</style>
<div class="logo-title-lg">
    <h1><span><img src="/img/logo-white.png" alt="QueueUp logo.">ueueUp</span></h1>
</div>

<h4>Your streaming media dashboard.</h4>
