<div class="logo-title-lg">
    <h1><span><img src="/img/logo-white.png" alt="QueueUp logo.">ueueUp</span></h1>
</div>

<h4>Your streaming media dashboard.</h4>
<div class="carousel-placeholder">
{{#each content}}
<div>
	<h5>{{this.snippet.title}}</h5>
	<a href="https://www.youtube.com/watch?v={{this.id.videoId}}"><img src={{this.snippet.thumbnails.medium.url}}></img></a>
</div>
{{/each}}
</div>
