<style>
#main-content {
   left: 0;
   line-height: 200px;
   margin: auto;
   margin-top: -100px;
   position: absolute;
   text-align: center;
   top: 50%;
   width: 100%;
}
h1 {
    font-size: 65pt;
}
h1 span {
    padding-right: 14px; /* a little bit of padding to account for the padding on the image */
}

h5 {
    padding-top: 20px;
}
</style>
<h1><span><img src="/img/logo-white.png" alt="QueueUp logo." width="140" height="140">ueueUp</span></h1>

<h4>Your streaming media dashboard.</h4>
