<style>
.main-content {
   left: 0;
   line-height: 200px;
   margin: auto;
   margin-top: -100px;
   position: absolute;
   text-align: center;
   top: 50%;
   width: 100%;
}
h1 {
    font-size: 45pt;
}
</style>
<h1><img src="/img/logo-white.png" alt="QueueUp logo." width="120" height="120">ueueUp</h1>
