/* Dan's crying about the colors so you should probably let him take care of those... */
#services {
    margin-top: 10px;
    border-radius: 4px;
    font-size:18pt;
}

.panel {
  color: black;
}

.panel-body .row {
  padding: 10px;
}

.well {
  margin: 10px;
}

.authorize {
  text-align: right;
}

.col-md-2 img {
  max-height: 100px;
  max-width: 70%;
}
