/* Dan's crying about the colors so you should probably let him take care of those... */
#services {
    margin-top: 10px;
    border-radius: 4px;
    font-size:18pt;
}

.panel {
  color: black;
}

.panel-body .row {
  padding: 10px;
}

.well {
  margin: 10px;
}

.authorize {
  vertical-align: middle;
}

.authorize {
  text-align: center;
}

img {
  max-height: 70%;
  max-width: 70%;
}
/*#services .list-group-item {
    height: 50px;
    color: white;
    border-color: black;
    background-color: #343434;
}*/
