h4 {
    max-width: 470px;
    margin: 0 auto;
    text-align: center;
}
.logo-title-lg {
    max-width: 470px;
    margin: 0 auto;
}
.logo-title-lg h1 span { /* for attempting to center specifically in this page */
    padding-right: 14px;
}
