html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 55px; /* use in order to pad main content below nav-bar */
    margin-bottom: 60px; /* use for footer */
    background-color: #1ED760;
}
body > .container {
    color: white;
}
#main-content {
    padding: 40px 15px;
}
#nav-logo {
    padding: 0px;
}
#nav-logo img {
    max-height: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.navbar {
    font-size: 15px;
    border: 0px;
    background-color: #343434;
}
.nav-color {
    color: white !important;
}
.nav-color:hover {
    color: #1ED760 !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid white;
  /* Set the fixed height of the footer here */
  height: 40px;
}
.footer .container {
    text-align: center;
}
.footer .container a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: white !important;
}
