body {
    padding-top: 55px; /* use in order to pad main content below nav-bar */
    margin-bottom: 60px; /* use for footer */
    background-color: #1ED760;
}
body > .container {
    color: white;
}
.main-content {
    padding: 40px 15px;
}
#nav-logo {
    padding: 0px;
}
#nav-logo img {
    max-height: 50px;
}
.navbar {
    border: 0px;
    background-color: #000000;
}
.nav-color {
    color: white !important;
}
.nav-color:hover {
    color: #1ED760 !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
